*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: #c0c0c0;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    background: #1a1a1a;
}


section{
    height: 100vh;
    scroll-snap-align: center;
}